<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='signin.css')}}">-->
<link rel="stylesheet" type="text/css" href="/static/home.css">
<title>lreporter | redflag</title>
</head>
<body>
    
    <div class="grid-container" style="background-image: url(/imagaes/winter-1882085__340.jpg); background-repeat: no-repeat;background-size:contain;">
  <div class="header">
      <h1>Ireporter </h1>
    <nav>
        <ul>
           <li><a href="redflag.html">redflag</a></li>
            <li><a href="intervention.html">intervention</a></li>
            <li><a href="login.html">logout</a></li>
        </ul>
      
      </nav>
  </div>
  
 
  <div class="middle">
      <h3 class="redflag">Red flag</h3>
        
          <form>
               
                <div>
                <label>Title</label>
                    <textarea rows="4" cols="20">type here</textarea>
              </div>
               <div>
              <label> Give description</label>
                    <textarea rows="10" cols="40">type here</textarea>
                 </div>   
                <br><br>
              
               <div>
                <label> upload files   </label>
               
              <input type="file" multiple>
                  
               </div>
               
                
                <button type="reset">reset</button>
                <button type="submit">submit</button>
      </form>
        
        
        </div>  
        
        
  <div class="right" >
      <ul>
        <div class="right_">
            
          <li class="right_i">corruption </li>
            <p> in wakiso alot of it is here</p>
        </div>
        <div class="right_">
            
          <li class="right_i">corruption </li>
            <p> in wakiso alot of it is here</p>
        </div>
          <div class="right_">
            
          <li class="right_i">poor roads </li>
            <p> in ntinda alot of it is here</p>
        </div>
        
      </ul>
        </div>
    </div>
</body>
</html>
