<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='signin.css')}}">-->
<link rel="stylesheet" type="text/css" href="/static/home.css">
<title>lreporter</title>
</head>
<body>
    
    <div class="grid-container" style="background-image: url(/imagaes/winter-1882085__340.jpg); background-repeat: no-repeat;background-size: cover;width: 100%">
  <div class="header">
      <h1>Ireporter | welcome</h1>
    <nav>
        <ul>
            <li><a href="redflag.html">redflag</a></li>
            <li><a href="intervention.html">intervention</a></li>
            <li><a href="login.html">logout</a></li>
        </ul>
      
      </nav>
  </div>
  
 
  <div class="middle" style="text-align: center" >
        <h1>welcome to ireporter  <img src="/imagaes/winter-1882085__340.jpg" width="100%"></h1>
      
        
        </div>  
        
        
  <div class="right" >
      <ul>
        <div class="right_">
            
          <li class="right_i">redflag </li>
            <p> under here you report cases like corruption, theft</p>
        </div>
        <div class="right_">
            
          <li class="right_i">interventons </li>
            <p> under here you report cases that need government interventions like poor roads</p>
        </div>
         
        
      </ul>
        </div>
    </div>
</body>
</html>
